<h1>Create New Reviews</h1>

<form action="/reviews" method="POST">
    <input type="text" name="title" placeholder="Company XYZ">
    <button>Submit</button>
</form>

<a href="/">Go back Homepage</a>
